Q1. What is a database? Differentiate between SQL and NoSQL databases.

#ANS.

A database is a structured collection of data that is organized and stored in a way that allows for efficient retrieval, manipulation, and management of information. It is a core component of many modern applications and systems that need to store and access data.
In a database, data is typically organized into tables, where each table contains rows and columns. Each row represents a record, and each column represents a specific attribute or field of the data. This tabular format allows for easy storage and retrieval of data in a structured manner.

Differentiate between SQL and NoSQL databases

#ANS.

SQL (Structured Query Language) and NoSQL (Not Only SQL) databases are two broad categories of databases that differ in their data models, storage structures, query languages, and use cases. Below are the key differences between SQL and NoSQL databases:

Data Model:

SQL Databases: SQL databases are relational databases based on the relational model. Data is organized into tables with predefined schemas, and relationships between tables are established using foreign keys. Each table has rows representing records and columns representing attributes.

NoSQL Databases: NoSQL databases use various data models, including key-value, document, column-family, and graph. They offer more flexibility in data representation and do not require a fixed schema. NoSQL databases can handle semi-structured or unstructured data more effectively.

Scalability:

SQL Databases: Traditional SQL databases are vertically scalable, meaning they can be upgraded by increasing the hardware resources of a single server. This has limitations in terms of the maximum capacity a single server can handle.

NoSQL Databases: NoSQL databases are designed to be horizontally scalable, allowing them to distribute data across multiple servers and handle large amounts of data and traffic more efficiently.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

#ANS.

DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) that deals with defining and managing the structure of a database. DDL commands are used to create, modify, and delete database objects, such as tables, indexes, and views. These commands do not manipulate the actual data within the tables; instead, they focus on defining the structure and properties of the database objects.

Let's explore the four main DDL commands and their usage with examples:

CREATE:
The CREATE command is used to create new database objects. The most common usage is to create tables. When creating a table, you specify the table's name, columns, data types, constraints, and other properties.
Example - Creating a table:
Suppose we want to create a table to store information about books in a library. The table could have columns like BookID, Title, Author, and PublishedYear.


`  CREATE TABLE books (
   BookID INT PRIMARY KEY,
   Title VARCHAR(100) NOT NULL,
   Author VARCHAR(50) NOT NULL,
   PublishedYear INT
 ); `

In this example, we created a table called "books" with columns "BookID," "Title," "Author," and "PublishedYear." The "BookID" column is set as the primary key, and "Title" and "Author" columns are marked as NOT NULL to ensure they are always populated.

DROP:
The DROP command is used to remove database objects, such as tables, indexes, or views, from the database. This operation is irreversible and permanently deletes the specified object and all its data.

Example - Dropping a table:
Let's say we want to remove the "books" table from the database.

` DROP TABLE books; `

After executing this command, the "books" table will be deleted, and all data stored within it will be lost.


ALTER:
The ALTER command is used to modify the structure of an existing database object, such as adding or dropping columns, changing data types, or adding constraints.
Example - Adding a column:
Suppose we want to add a new column to the "books" table to store the genre of each book.

` ALTER TABLE books
 ADD Genre VARCHAR(30); `

In this example, we added a new column called "Genre" to the existing "books" table.


TRUNCATE:
The TRUNCATE command is used to remove all the data from a table while retaining the table's structure. Unlike the DROP command, TRUNCATE does not delete the table itself; it simply removes all the rows within it.
Example - Truncating a table:
Let's say we want to remove all the data from the "books" table while keeping the table structure.

` TRUNCATE TABLE books; `

After executing this command, all the rows in the "books" table will be removed, but the table structure will remain intact.

It's essential to exercise caution when using DDL commands, especially the DROP and TRUNCATE commands, as they can have irreversible consequences. Always make sure to back up critical data before performing such operations.


`this function is showing on mysql lab so please visit my sql lab.`

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

#ANS.

DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) that allows users to interact with and manipulate the data within a database. DML commands are used to insert, update, and delete data in database tables.

Let's explore the three main DML commands and their usage with examples:

INSERT:
The INSERT command is used to add new rows (records) into a database table. It allows you to specify the values to be inserted into each column of the table.
Example - Inserting data into a table:
Suppose we have a table named "students" that stores information about students, including their ID, name, age, and course.

` INSERT INTO students (ID, Name, Age, Course)
  VALUES (1, 'John Doe', 25, 'Computer Science'); `
  
In this example, we used the INSERT command to add a new row to the "students" table. The values for each column are specified in the VALUES clause.

UPDATE:
The UPDATE command is used to modify existing data in the database table. It allows you to change the values of one or more columns for one or multiple rows based on specified conditions.
Example - Updating data in a table:
Suppose we want to update the course of a student with ID 1 from "Computer Science" to "Electrical Engineering."

` UPDATE students
 SET Course = 'Electrical Engineering'
 WHERE ID = 1; `

In this example, we used the UPDATE command to change the value of the "Course" column for the row where the "ID" is equal to 1.

DELETE:
The DELETE command is used to remove one or more rows (records) from a database table based on specified conditions.
Example - Deleting data from a table:
Suppose we want to delete the record of a student with ID 2 from the "students" table.

` DELETE FROM students
WHERE ID = 2; `

In this example, we used the DELETE command to remove the row from the "students" table where the "ID" is equal to 2.

It's important to be cautious when using DML commands, especially the UPDATE and DELETE commands, as they can modify or remove data irreversibly. Always ensure that you have a backup of critical data before performing such operations. Additionally, consider using conditions (WHERE clause) carefully to update or delete specific rows to avoid unintended data changes.

`this function is showing  on mysql lab , please visit mysql lab`

Q4. What is DQL? Explain SELECT with an example.

#ANS.

DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) that allows users to retrieve data from a database. DQL is primarily focused on the SELECT statement, which is used to query and fetch data from database tables.

The SELECT statement in SQL is incredibly versatile and allows you to specify which columns you want to retrieve, apply filters to narrow down results, join multiple tables, perform aggregate functions, and more.

Let's explore the SELECT statement and its usage with an example:

Example - Retrieving data from a table:
Suppose we have a table named "employees" that stores information about employees, including their ID, name, department, salary, and hire date.

` SELECT ID, Name, Department, Salary
 FROM employees; `
 
 In this example, we used the SELECT statement to retrieve data from the "employees" table. The query specified that we want to fetch the "ID," "Name," "Department," and "Salary" columns for all the rows in the table.
 
 Selecting specific columns:
You can choose specific columns you want to retrieve by listing them after the SELECT keyword. Separate column names with commas.

` SELECT Name, Salary
FROM employees; `

Filtering data with WHERE clause:
You can use the WHERE clause to add conditions to filter the results. For example, to retrieve employees with a salary greater than 50000:

` SELECT Name, Salary
 FROM employees
 WHERE Salary > 50000; `
 
 Using aggregate functions:
You can use aggregate functions like SUM, AVG, MAX, MIN, and COUNT to perform calculations on data. For instance, to get the total salary of all employees:

` SELECT SUM(Salary) AS TotalSalary
  FROM employees; `
  
  The SELECT statement is powerful and versatile, allowing you to retrieve the specific data you need from a database table based on your requirements. It forms the backbone of most SQL queries used to interact with databases.
  
`this function is showing  on mysql lab , please visit mysql lab`

Q5. Explain Primary Key and Foreign Key.

#ANS.

Primary Key and Foreign Key are two essential concepts in relational databases that establish relationships between tables and ensure data integrity.

Primary Key:
A Primary Key is a unique identifier for each record (row) in a database table. It is used to uniquely identify each row in the table, and no two rows can have the same primary key value. The primary key enforces entity integrity, ensuring that each record in the table is distinct and identifiable.

Foreign Key:
A Foreign Key is a column or a set of columns in a table that establishes a link between the data in two related tables. It represents a relationship between the data in the current table (child table) and the data in another table (parent table). The foreign key ensures referential integrity, maintaining the relationship between the tables and preventing inconsistencies in the data.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

#ANS.

` import mysql.connector
mydb = mysql.connector.connect(
    host = "localhost",
    user = "abc",
    password = "password"
)

mycursor = mydb.cursor()
mycursor.execute("create database if not exists Assignment2")
mydb.close()`


cursor() method:
The cursor() method is used to create a cursor object, which allows you to interact with the database and execute SQL queries. A cursor is like a pointer that moves through the rows of the result set returned by a query. It provides methods to fetch data, insert data, update data, and perform other database operations.

Syntax of creating a cursor:

`cursor = connection_object.cursor()`

execute() method:
The execute() method is used to execute SQL queries or commands using the cursor. It is the primary method for running SQL statements against the database. You can use execute() to perform various operations, such as SELECT queries, INSERT, UPDATE, DELETE, and more.

Syntax of executing SQL queries:

`cursor.execute(sql_query, [params])`

Q7. Give the order of execution of SQL clauses in an SQL query.

#ANS.

In an SQL query, the order of execution of clauses is generally as follows:

SELECT: The SELECT clause is evaluated first. It specifies the columns you want to retrieve from the database.

FROM: The FROM clause is evaluated after the SELECT clause. It specifies the table or tables from which you want to retrieve data.

WHERE: The WHERE clause is evaluated next. It filters the rows based on the specified conditions.

GROUP BY: If a GROUP BY clause is present, it is evaluated after the WHERE clause. It groups the rows based on the specified columns.

HAVING: If a HAVING clause is present, it is evaluated after the GROUP BY clause. It filters the grouped rows based on aggregate conditions.

ORDER BY: The ORDER BY clause is evaluated next. It sorts the result set based on the specified columns and their order (ascending or descending).

LIMIT / OFFSET: If a LIMIT or OFFSET clause is present, it is evaluated last. It limits the number of rows returned by the query or specifies the starting row to fetch.